* {
    font-family: system-ui;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: navy;
}

ul {
    list-style: none;
    padding: 0;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

main {
    padding-top: 50px;
}

.nav {
    display: none;
}

.mobile {
    display: none;
}

/*** top ***/
header {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: white;
    padding: 0 30px;
    z-index: 100;
}

.header_small {
    font-weight: 100;
}

.header_menu {
    width: 600px;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 20px;
}

/*topawrapper*/
.tt_img1 {
    width: 100vw;
    margin-bottom: 1vw; 
}

/*section*/
section h3,section h4,section p,section li {
    letter-spacing: 0.1em;
}
.top_section {
    padding-top: 30px;
}

.section_title {
    text-align: center;
    padding: 30px 0;
}

.st_span {
    border-bottom: solid 5px gainsboro;
    font-size: 30px;
}

.st_small {
    letter-spacing: 0.1em;
}

/*splide*/
.splide {
    z-index: -1;
}

/*feature*/
.tf_item {
    justify-content: space-around;
}

.tf_imgBox,.tf_txtBox {
    width: 45vw;
}

.tf_imgBox img {
    height: 30vw;
    width: 50vw;
}

.tf_txtBox h3 {
    font-size: 25px;
    text-align: center;
    padding: 30px 0;
}

.tf_txtBox p {
    width: 30vw;
    margin: 0 auto;
}


/*suport*/
.ts_item {  
    justify-content: space-around;
    margin-bottom: 30px;
}

.ts_imgBox,.ts_txtBox {
    width: 45vw;
}

.ts_imgBox img {
    width: 50vw;
    height: 25vw;
}

.ts_txtBox h3 {
    font-size: 25px;
    text-align: center;
    padding: 30px 0;
}

.ts_txtBox p {
    width: 70%;
    margin: 0 auto;
    line-height: 2em;
}

.ts_txtBox ul {
    width: 400px;
    margin: 0 auto;
}

.ts_txtBox li {
    line-height: 3em;
}

.training_link {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.traning_item {
    width: 100vw;
}

.traning_txtBox {
    width: 70vw;
    margin: 0 auto;
}

.traning_txtBox h3 {
    font-size: 25px;
    text-align: center;
    padding: 30px 0;
}

.traning_txtBox p {
    display: block;
    width: 670px;
    line-height: 2em;
    margin: 0 auto;
}

/*place*/
.tpl_item {
    justify-content: space-around;
}

.tpl_txtBox {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.tpl_txtBox p {
    padding: 20px 90px;
    background-color: white;
}

.tpl_item iframe {
    width: 500px;
    height: 200px;
}

/*price*/
.tpr_item {
    width: 100vw;
}

.tpr_txtBox {
    width: 70vw;
    margin: 0 auto;
}

.tpr_txtBox h3 {
    font-size: 25px;
    text-align: center;

}

.tpr_txtBox p {
    display: block;
    width: 670px;
    line-height: 2em;
    margin: 0 auto;
}

/*entry*/
.te_txtBox {
    display: flex;
    width: 700px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: gainsboro;
}

.te_txtBox a {
    text-decoration: underline;
}

.te_txtBox p {
    background-color: white;
    padding: 20px 90px;
    line-height: 2em;
}


/*FAQ*/
.tf_list {
    width: 70vw;
    margin: 0 auto;
}

.tf_list li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
}

.tf_q {
    background-color: gainsboro;
    border-radius: 10px;
}

.tf_a {
    border: solid 2px gainsboro;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*footer*/
footer {
    background-color: black;
    color: white;
    line-height: 2em;
    padding: 30px 100px;
    margin-top: 30px;
}

footer a {
    color: white;
}

.footer_homeLink {
    display: block;
    color: white;
    font-size: 30px;
}

.footer_job {
    width: 35%;
    margin-top: 30px;
}

.sl_listBox {
    width: 60%;
    justify-content: space-around;
}

.sl_listBox ul {
    margin-top: 35px;
}

.footer_sns {
    width: 150px;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 10px;
}

.footer_sns img {
    width: 50px;
}

/*copy*/
.copy p {
    text-align: center;
    padding: 15px;
}

/***trining***/
.liner_yellow {
    background:linear-gradient(transparent 60%, #ff6 30%);
}

.liner_pink {
    background:linear-gradient(transparent 60%, rgb(251, 200, 255) 30%); 
}

/*tr_topWrapper*/
#trining_topWrapper {
    position: relative;
}

.tr_tw_txt {
    position: absolute;
    top: 9vw;
    left: 20vw;
    text-align: center;
    font-family: 'Zen Maru Gothic', serif;
}

.uLiner_red {
    text-decoration: underline red 3px;
}

.tr_tw_txt h2 {
    font-size: 4vw;
}

.tr_tw_txt h3 {
    font-size: 2.7vw;
    padding-top: 1em;
}

/*tr_service*/
#trining_service {
    position: relative;
}

#trining_service::before,#trining_title::before,#trining_after::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 30vw;
    background-image: url(../images/img_triningBack.png);
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
}

.tr_service_box {
    justify-content: space-around;
}

.tr_se_boxItem {
    width: 200px;
    height: 500px;
    background-color: aqua;
}

/*tr_title*/
#trining_title {
    position: relative;
}

.tr_ti_box {
    justify-content: space-around;
}

.tr_ti_box img {
    width: 40vw;
}

.tr_ti_txt h3,.tr_ti_txt h4 {
    text-align: center;
}

.tr_ti_txt {
    padding-top: 5.5vw;
}

.tr_ti_txt h3 {
    font-size: 30px;
    background:linear-gradient(transparent 60%, #ff6 60%);
}

.tr_ti_txt h4 {
    padding: 1em 0;
    font-size: 20px;
}

/*tr_service*/
.tr_section_title h3 {
  position: relative;
  width: 100vw;
  font-size: 30px;
  padding: 30px 0;
    text-align: center;
    margin: 30px 0;
  z-index: 0;
}

.tr_section_title h3::after{
  content: '';
  position: absolute;
  left:0;
  top: 0;
  z-index: -1;
  width:100%;
  height:100%;
  background-color:aqua;
}

.tr_se_box {
    justify-content: space-around;
}

.tr_se_boxInner {
    position: relative;
    width: 350px;
    height: 480px;
    background-color: gainsboro;
    margin-top: 30px;
}

.tr_se_boxInner h5 {
    position: absolute;
    top: -1em;
    left: -1em;
    display: inline;
    font-size: 40px;
    padding: 20px 29px;
    border-radius: 2em;
    color: white;
    background-color: #ff95b2;
    box-shadow: 0 0 0 3px #FFF, 0 0 0 5px #ff95b2;
	box-sizing: border-box;
}

.tr_se_boxInner p {
    width: 320px;
    height: 220px;
    line-height: 2em;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    text-decoration: underline dashed #ff95b2;
    text-underline-offset: 5px;
}

.tr_se_img {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    object-fit: cover;
}

.tsi_1 {
    object-position: 0 90%;
}

.tsi_2 {
    object-position: 0 20%;
}

.tsi_3 {
    object-position: 0 80%;
}

/*tr_after*/
#trining_after {
    position: relative;
    padding-top: 50px;
}

.tr_af_box {
    justify-content: space-around;
}

.tr_af_box img {
    width: 40vw;
}

.tr_af_txt {
    margin-top: 50px;
}

.tr_af_txt h3,.tr_af_txt h4 {
    text-align: center;
}

.tr_af_txt h3 {
    text-align: center;
    font-size: 30px;
    background:linear-gradient(transparent 60%, #ff95b2 60%);
}

.tr_af_txt h4 {
    padding: 1em 0;
    font-size: 20px;
}

/*transaction*/
.transaction {
    padding-top: 100px;
}

.transaction_item {
    margin-bottom: 100px;
}

.transaction h2 {
    text-align: center; 
    padding-bottom: 30px;
}

.transaction_table {
    line-height: 3em;
    margin: 0 auto;
    border-collapse: collapse;
}

.transaction_table th,.transaction_table td {
    border-bottom: solid 3px gainsboro;
}

.transaction_table th {
    text-align: left;
    padding-right: 50px;
    vertical-align: top;
}

.return {
    display: flex;
    width: 100vw;
    align-items: center;
}

.return a {
    margin: 0 auto;
    text-decoration: underline;
}

/*privacy*/ 
.transaction_item2 {
    width: 60vw;
    margin: 0 auto;
}

.transaction_item2 h3 {
    padding-bottom: 20px;
}

.transaction_item2 p {
    padding-bottom: 50px;
}

@media all and (max-width: 840px) {
    /**/
    h3 {
        font-size: 20px;
    }

    /*header*/
    header {
        height: 50px;
        padding: 0 10px;
    }
    
    .header_menu {
        display: none;
    }

    .nav {
        display: block;
        margin-left: auto;
    }  

    .drawer_hidden {
    display: none;
    }

    #drawer_open.invert {
        margin-top: 0;
    }

    .drawer_open {
    display: flex;
    height: 60px;
    width: 50px;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: rgb(179, 179, 179);
    transition: 0.5s;
    position: absolute;
    }
    
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
    bottom: 8px;
    }
    
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
    top: 8px;
    }
    
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
    }
    
    #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
    }
    
    /* メニューのデザイン*/
    #nav_content {
        margin-top: 30px;
    }

    #nav_content.invert {
        margin-top: -3px;
    }

    .nav_content {
    width: 100vw;
    height: 350px;
    position: fixed;
    top: 20px;
    left: 200%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: rgb(234, 234, 234);
    transition: 0.3s;
    opacity: 0.95;
    }
    
    /* メニュー黒ポチを消す */
    .nav_list {
    list-style: none;
    text-align: center;
    }
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
    }

    .nav_item {
    margin: 50px 0;
    }

    .nav_item p{
    display: inline-block;
    }

    .nav_item a {
    color: black;

    }

    /*feature*/
    .tf_txtBox h3 {
        font-size: 18px;
        padding-top: 0;
    }

    .tf_txtBox p {
        width: 45vw;
        margin: 0 auto;
    }

    /*suport*/
    .ts_txtBox h3 {
        font-size: 18px;
        padding-top: 0;
    }

    .ts_txtBox p {
        width: 45vw;
    } 
    
    /*footer*/
    footer {
        padding: 30px 50px;
    }

    .footer_item {
        justify-content: space-between;
    }

    /**trining**/
    .tr_ti_box,.tr_se_box,.tr_af_box {
        display: block;
    }

    /*tr_title*/
    .tr_ti_box img {
        width: 70vw;
        height: 30vw;
        margin: 0 auto;
        object-fit: cover;
        object-position: 0 70%;
    }

    .tr_ti_txt {
        width: 550px;
        margin: 0 auto;
    }

    /*tr_service*/
    .tr_se_boxInner {
        margin: 0 auto;
        margin-top: 50px;
    }

    /*tr_after*/
    .tr_af_box img {
        width: 70vw;
        height: 55vw;
        margin: 0 auto;
        object-fit: cover;
        object-position: 0 70%;
    }

    .tr_af_txt {
        width: 400px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media all and (max-width: 660px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4,p,a,li,table {
        font-size: 14px;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    /*header*/
    .header_homeLink h1 {
        font-size: 20px;
    }

    .header_homeLink {
        margin-top: 15px;
    }

    /*button*/
    .flex2 {
        display: flex;
        justify-content: space-around;
    }

    .button {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 100px;
        background-color: white;
    }

    .button img {
        width: 70px;
        height: 70px;
        margin-top: 15px;
    }

    .button a {
        display: inline-block;
    }

    /*section*/
    .st_span {
        font-size: 27px;
    }

    /*feature*/
    .tf_item {
        display: block;
        width: 95vw;
    }

    .tf_imgBox,.tf_txtBox {
        width: 100vw;
    }

    .tf_imgBox img {
        width: 100vw;
        height: auto;
    }

    .tf_txtBox p {
        width: 80vw;
        margin: 0 auto;
    }

    .tf_txtBox h3 {
        font-size: 18px;
        padding-top: 30px;
    }

    /*support*/
    .ts_item {
        display: block;
    }

    .ts_imgBox,.ts_txtBox,.traning_txtBox {
        width: 100vw;
    }

    .ts_imgBox img {
        width: 100vw;
        height: auto;
    }

    .ts_txtBox h3,.traning_txtBox h3 {
        font-size: 18px;
    }

    .ts_txtBox h3 {
        padding-top: 30px;
    }

    .ts_txtBox ul {
        width: 90vw;
        margin: 0 auto;
    }

    .ts_txtBox p,.traning_txtBox p {
        width: 80vw;
    }

    /*place*/
    .tpl_item {
        width: 95vw;
        display: block;
        margin: 0 auto;
    }

    .tpl_txtBox {
        width: 100%;
        margin-bottom: 10px;
    }

    .tpl_txtBox p {
        padding: 5vw 10vw;
    }

    .tpl_item iframe {
        width: 100%;
    }

    /*price*/
    .tpr_txtBox {
        width: 100vw;
    }

    .tpr_txtBox h3 {
        font-size: 18px;
    }

    .tpr_txtBox p {
        width: 80vw;
    }
    
    /*entry*/
    .te_txtBox {
        width: 95vw;
        margin: 0 auto;
    }

    .te_txtBox p {
        width: 85vw;
        padding: 10px;
    }  
    
    /*faq*/
    .tf_list {
        width: 95vw;
    }

    /*footer*/
    footer {
        padding: 10px;
    }

    .footer_homeLink {
        text-align: center;
    }

    .footer_item {
        display: block;
    }

    .footer_job,.sl_listBox {
        width: 90vw;
    }

    .footer_job h3{
        text-align: center;
        padding-bottom: 10px;
    }

    .footer_job p {
        width: 60vw;
        margin: 0 auto;
    }

    .sl_list {
        text-align: center;
    }

    /*copy*/
    .copy {
        padding-bottom: 90px;
    }

    /*transaction*/
    .transaction h2 {
        font-size: 15px;
    }

    .transaction_table {
        line-height: 2em;
    }

    .transaction_table th,.transaction_table td {
        font-size: 14px;
    }

    .transaction_table th {
        width: 140px;
        padding: 0 5px;
    }

    /*privacy*/
    .transaction_item2 {
        width: 95vw;
    }  

    /***trining***/
    /*tr_topWrapper*/
    .tr_tw_txt {
        top: 12vw;
        left: 19vw;
    }

    .tr_tw_txt h2 {
        font-size: 4.5vw;
    }

    .tr_tw_txt h3 {
        font-size: 3.5vw;
    }

    /*tr_title*/
    .tr_ti_txt h3 {
        font-size: 20px;
    }

    .tr_ti_txt h4 {
        font-size: 18px;
    }

    .tr_ti_txt {
        width: 90vw;
        line-height: 1.5em;
    }

    /*tr_service*/
    .tr_section_title h3 {
        padding: 15px 0;
        font-size: 20px;
    }

    .tr_se_boxInner {
        height: 430px;
        padding-top: 1px;
    }

    .tr_se_boxInner p {
        height: 170px;
    }

    .tr_se_boxInner h5 {
        top: -0.3em;
        left: -0.3em;
        font-size: 30px;
        padding: 15px 23px;
    }

    /*tr_after*/
    .tr_af_txt {
        width: 90vw;
        line-height: 1.5em;
    }

    .tr_af_txt h3 {
        font-size: 20px;
    }

    .tr_af_txt h4 {
        font-size: 18px;
    }
} 


